﻿body {
    background-color: #EED2D8;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-div {
    background-color: #fff;
    height: 280px;
    width: 400px;
    border-radius: 20px;
    border: 1px solid #C15C72;
    padding: 20px;
    margin: auto;
    margin-top: 50px;
}

h1 {
    color: #A33E54;
}

.color-font {
    color: #A33E54;
    font-weight: 500;
    padding-top: 15px;
}

color-font-resultado {
    color: #A33E54;
    font-weight: 500;
    padding-top: 15px;
    text-align: center;
}

.color-font-valor {
    color: #A33E54;
    font-weight: 500;
}

.botao-calcular {
    color: #fff;
    background-color: #A33E54;
    border: 0;
    border-radius: 10px;
    padding: 13px;
    padding-left: 30px;
    padding-right: 30px;
}

.caixa-valor {
    padding: 5px 5px;
    border: 1px solid #A33E54;
    border-radius:3px;
}

.caixa-valor-dp {
    padding: 5px 5px;
    height:10px;
    border: 1px solid #A33E54;
    border-radius: 3px;
}